<script lang="ts">
	import { page } from "$app/stores";
	import { pollColor, isDebug, poll, sessionId, pollName } from "$lib/shared/stores/stores";
	import { onMount } from "svelte";
	import { Alert } from "@sveltestrap/sveltestrap";
  import { Styles } from '@sveltestrap/sveltestrap';

  onMount(() => {
    $isDebug = $isDebug || $page.url.searchParams.get('debug') === 'true';
  });

</script>

<Styles />
<div style="--poll_color: {$pollColor}">
  <main>
  <!-- +page.svelte is rendered in this <slot> -->
    <slot />
  </main>
</div>

<Alert isOpen={$isDebug}>
  <div>$sessionId={$sessionId}</div>
  <div>$poll={$poll}</div>
  <div>$pollName={$pollName}</div>
  <div>$pollColor={$pollColor}</div>
  <div>$page.state={JSON.stringify($page.state)}
</Alert>

<style>
  :global(.padd) {
		padding-top: 1em;
	}

  :global(.pointer) {
		cursor: pointer;
	}

  :global(.highlight) {
    font-weight: bold;
  }

  :global(.link) {
    font-size: smaller;
  }
</style>