<script lang="ts">
	import { createPoll } from "$lib/shared/rest/rest";
	import { goto } from '$app/navigation';
	import { Badge, Button, Col, Container, Input, InputGroup, InputGroupText, Label, Row, Tooltip } from "@sveltestrap/sveltestrap";
	import { page } from '$app/stores';
	import { POLL_ALREADY_EXISTS } from '$lib/model/errors';
	import { pollColor, poll, pollName } from "$lib/shared/stores/stores";
	import Layout from "$lib/components/Header.svelte";

	$pollName = 'Créer un nouveau Popoll';
	$pollColor = '#0d6efd';
	$poll = '';
	
	let id: string = '';
	let name: string = '';
	let color: string = '#000000';

	let error_id: boolean = false;
	let error_poll_already_exists: boolean = false;
	let error_id_message: string = '';
	let error_name: boolean = false;


	function validateId(id: string) {
		return !/[^a-z0-9_]+/.test(id);
	}

	function resetValidation() {
		error_id = false;
		error_poll_already_exists = false;
		error_id_message = '';
		error_name = false;
	}

	function check(id: string, name: string, color: string): boolean {
		resetValidation();
		if (id.length == 0 || !validateId(id)) {
			error_id = true;
			error_id_message = "Champ obligatoire (uniquement lettres (minuscules), chiffres et symbole '_')";
		}
		if (['poll', 'session', 'date'].indexOf('id') > -1) {
			error_id = true;
			error_id_message = "Mot-clé réservé (poll, session, date)";
		}
		if (name.length == 0) {
			error_name = true;
		}
		return !error_id && !error_name;
	}

	async function onCreatePoll(id: string, name: string, color: string) {
		if (check(id, name, color)) {
			createPoll(id, name, ["Tamborim", "Agogo", "Chocalho", "Caixa", "Repinique", "Marcation", "Reponse", "Corta"], color)
				.then((_) => goto(`/${id}`))
				.catch((err) => {
					if (err.message === POLL_ALREADY_EXISTS) {
						error_id_message = 'Cet id existe déjà.';
						error_poll_already_exists = true;
					}
				});
			;
		}
	}

</script>

<section>
	<Layout />
	<Container>
		<Row class="padd">
			<Col xs="2">
				<Label>Id</Label>
				<Badge color="primary" id="info">?</Badge>
				<Tooltip animation isOpen={false} placement="top" target="info">URL voulue pour atteindre le site</Tooltip>
			</Col>
		</Row>
		<Row>
			<Col>
				<InputGroup>
					<InputGroupText>{$page.url}</InputGroupText>
					<Input placeholder="id" bind:value={id} feedback={error_id_message} invalid={error_id || error_poll_already_exists} />
				  </InputGroup>
			</Col>		
		</Row>

		<Row class="padd">
			<Col xs="2"><Label for="nameInput">Nom</Label></Col>
		</Row>
		<Row>
			<Col><Input placeholder="Nom" bind:value={name} feedback="Champ obligatoire" invalid={error_name} /></Col>
		</Row>
		
		<Row class="padd">
			<Col xs="2"><Label for="colorInput">Couleur</Label></Col>
		</Row>
		<Row>
			<Col><Input type="color" id="colorInput" placeholder="couleur" bind:value={color} /></Col>
		</Row>
		<Row class="padd">
			<Col></Col>		
			<Col xs="auto">
				<Button color="primary" on:click={() => onCreatePoll(id, name, color)}>Créer</Button>
			</Col>
		</Row>
	</Container>

</section>

