<script lang="ts">
	import { Button, Input, Container, Row, Col, Spinner, Alert, Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "@sveltestrap/sveltestrap";
	import { page } from '$app/stores';
	import { sessionId, poll, isDebug, pollColor, pollName, polls } from '$lib/shared/stores/stores';
	import ModalUsers from '$lib/components/modals/user/ModalUsers.svelte';
	import ModalDates from '$lib/components/modals/date/ModalDates.svelte';
	import ModalAnswers from '$lib/components/modals/answer/ModalAnswers.svelte';
	import ModalOptions from '$lib/components/modals/option/ModalOptions.svelte';
	import TableAnswers from '$lib/components/TableAnswers.svelte';
	import { getOptions, getPolls, getSession, getUserDetails, setSession } from '$lib/shared/rest/rest';
	import { onMount } from 'svelte';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import { uuid } from '$lib/shared/utils';
	import Confirm from '$lib/components/modals/Confirm.svelte';
	import { CalendarDay, Check2Square, Gear, Person, ShieldLockFill } from "svelte-bootstrap-icons";
	import { pushState, replaceState } from "$app/navigation";
	import Layout from "$lib/components/Header.svelte";
	import { PError } from '$lib/model/errors';

	const DANGER = '#dc3545';
    const size = 48;

	$poll = $page.url.pathname.substring(1);
	$: userId = -1;

	onMount(() => { checkSession() })
	
	let error: PError | undefined = undefined;
	let isNewPoll: boolean = false;


	function checkSession() {
		getSession($poll, $sessionId).then((session) => {
			if (session.user_id != undefined) {
				isNewPoll = false;
				userId = userId + 1; // Tweak to make sure userId is updated in case of modification of the content (update)
				userId = session.user_id;
			} else {
				isNewPoll = true;
				pushState('', {displaySelectUser: true});
			}
		}).catch((err) => {
			error = err;
			$poll = ''
	});
	}

	async function onSelectUser(event: any) {
		await setSession($poll, $sessionId, event.detail.userId).then((session) => userId = session.user_id);
		if (isNewPoll) {
			$polls = await getPolls($sessionId);
		}
		replaceState('', {});
	}

	function onClose(event: any) {
			replaceState('', {});
		if (event.detail.isModified) {
			checkSession();
		}
	}

	function onCloseOptions(event: any) {
		onClose(event);
		if (event.detail.isModified) {
			$poll = $poll;
			doGetOptions($poll);
		}
	}

	function onCleanStorage(event: any) {
		userId = -1;
		$sessionId = uuid();
		checkSession();
	}

	async function doGetOptions(poll: string) {
		const rs = await getOptions(poll);
		$pollColor = rs.color;
		$pollName = rs.name;
		return rs;
	}

</script>


<Layout>
	<Dropdown direction="down">
		<DropdownToggle color="danger" caret><ShieldLockFill />&nbsp;Admin</DropdownToggle>
		<DropdownMenu end>
			<DropdownItem on:click={() => pushState('', {modalUsers: true})}><Person />&nbsp;Utilisateurs</DropdownItem>
			<DropdownItem on:click={() => pushState('', {modalDates: true})}><CalendarDay />&nbsp;Dates</DropdownItem>
			<DropdownItem on:click={() => pushState('', {modalAnswers: true})}><Check2Square />&nbsp;Réponses</DropdownItem>
			<DropdownItem on:click={() => pushState('', {modalOptions: true})}><Gear />&nbsp;Options</DropdownItem>
		</DropdownMenu>
	</Dropdown>
</Layout>




<section>
	{#if error != undefined}
		<Alert class="" color="danger" closeClassName="" closeAriaLabel="Close" dismissible={false} fade heading="" isOpen>
			<div><h1>{error.title}</h1></div>
			{#each error.descriptions as desc}
				<div>{desc}</div>
			{/each}
			{#if error.rootLink}
				<a href='/'>Retour à la page principale</a>
			{/if}
		</Alert>
	{/if}
	{#await doGetOptions($poll)}
		<Spinner type="border" size="" color="primary"/>
	{:then options}
		<div style="--poll_color: {options.color}">
			{#if userId > -1}
				{#await getUserDetails($poll, userId)}
					<Spinner type="border" size="" color="primary"/>
				{:then _user}
					{#if _user != undefined}
						<Container>
							<Row class="padd">
								<Col xs="auto"><Input class="notFull" value={_user.user.name} disabled /></Col>
								<Col xs="auto"><ColoredButton color={$pollColor} on:click={() => pushState('', {displaySelectUser: true})}>Configurer Utilisateur</ColoredButton></Col>
							</Row>
						</Container>
								
						<Container>
							<Row>
								<Col>
									<TableAnswers userDetails={_user} {size} />
								</Col>
							</Row>
						</Container>
						

						{#if $page.state.modalUsers}
							<ModalUsers display={true} userId={undefined} {size} on:close={onClose} _isAdminMode={true} />
						{/if}
			
						{#if $page.state.modalDates}
							<ModalDates display={true} on:close={onClose} />
						{/if}

						{#if $page.state.modalAnswers}
							<ModalAnswers display={true} {size} on:close={onClose} />
						{/if}

						{#if $page.state.modalOptions}
							<ModalOptions display={true} on:close={onCloseOptions} />
						{/if}
			
					{/if}
				{/await}
			{/if}

			{#if $page.state.displaySelectUser}
				<ModalUsers display={true} {userId} {size} on:selectUser={onSelectUser} on:close={onClose} _isAdminMode={false} selectMandatory={userId == -1} />
			{/if}
		</div>
	{/await}

	<Alert isOpen={$isDebug}>
		<div>error={error}</div>
		<div>userId={userId}</div>
		<Confirm let:confirm="{confirmThis}" message="Êtes-vous sur de vouloir supprimer le cache local ?">
			<Col class="padd"><Button color="danger" on:click="{() => confirmThis(onCleanStorage)}">Vider Local Storage</Button></Col>
		</Confirm>
	</Alert>
</section>
