<script lang="ts">
	import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "@sveltestrap/sveltestrap";

    export let title:string = 'Confirmation';
    export let message: string = 'Êtes-vous sur de vouloir supprimer cet élément ?';
  
    let showDialog = false
    let functionToCall = {
      func: null,
      args: null
    }
  
    function callFunction () {
      showDialog = false
      functionToCall['func'](...functionToCall['args'])
    }
  
    function confirm(func, ...args) {
      functionToCall = {func, args}
      showDialog = true
    }

    function toggle() {
      showDialog = false;
    }
</script>
  
<slot confirm={confirm}></slot>

{#if showDialog}
  <Modal isOpen={showDialog} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={() => toggle} on:closing={() => toggle}>
    <ModalHeader>
      {title}
    </ModalHeader>
    <ModalBody>
      {message}
    </ModalBody>
    <ModalFooter>
      <Button color="danger" on:click="{callFunction}">Confirmer</Button>
      <Button color="secondary" on:click={toggle}>Annuler</Button>
    </ModalFooter>
    </Modal>
{/if}