<script lang="ts">
	import { Modal, ModalBody, ModalFooter, ModalHeader, FormGroup, Label, Input, Spinner } from "@sveltestrap/sveltestrap";
    import { createEventDispatcher } from 'svelte';
    import ModalUser from '$lib/components/modals/user/ModalUser.svelte';
    import Confirm from '$lib/components/modals/Confirm.svelte';
	import { deleteUser, getUsers } from '$lib/shared/rest/rest';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import { poll, pollColor, sessionId } from '$lib/shared/stores/stores';
	import type { User } from '$lib/model/user';
	import { page } from "$app/stores";

	const dispatch = createEventDispatcher();
	
    export let size: number;
    export let display: boolean;
    export let userId: number | undefined = undefined;
    export let selectMandatory: boolean = false;
    export let _isAdminMode: boolean = $page.state.modalUsers;
    
    let users: Promise<User[]> = Promise.resolve([]);

    let displayCreateUser = false;
    let displayEditUser = false;

    let isModified: boolean = false;

    function _close(topic: string = 'close', params: any = {}) {
        displayCreateUser = false;
        displayEditUser = false;
        display = false;
        params['isModified'] = isModified;
        dispatch(topic, params);
    }

    function toggle() {
        if (!selectMandatory) {
            _close();
        }
    }

    function onSelectuser(userId: number | undefined) {
        if (userId != undefined) {
            _close('selectUser', {userId: userId});
        } else {
            console.error('ModalUsers.selectUser() with undefined userId. This should never happens.');
        }
    }

    function onUpdateUser(event: any) {
        // Should not be callable in not admin mode
        isModified = true;
        users = getUsers($poll);
        displayEditUser = false;
    }

    async function onCreateUser(event: any) {
        isModified = true;
        if (_isAdminMode) {
            users = getUsers($poll);
            displayCreateUser = false;
        } else {
            _close('selectUser', {userId: event.detail.userId});
        }
    }

    function onModalUserClose(event: any) {
        displayCreateUser = false;
        displayEditUser = false;
    }

    async function onDeleteUser() {
        isModified = true;
        if (userId != undefined) {
            await deleteUser($sessionId, $poll, userId);
            users = getUsers($poll);
        } else {
            console.error('ModalUsers.doDeleteUser() with undefined userId. This should never happens.');
        }
    }

    function isDisabled(userId: any) {
        return userId == undefined || userId === '' || userId === -1;
    }
</script>

<Modal isOpen={display} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={toggle} on:closing={toggle} on:open={() => {users = getUsers($poll); isModified = false}}>
    <ModalHeader {toggle}>
        {#if _isAdminMode} Configurer Utilisateurs {:else} Choisir Utilisateur {/if}
    </ModalHeader>
    <ModalBody>
        {#await users}
            <Spinner type="border" size="" color="primary"/>
        {:then _users}
            <FormGroup>
                <Label for="userId">Utilisateur</Label>
                <Input type="select" name="userName" id="userId" bind:value={userId}>
                    {#each _users as _user}
                        <option selected={_user.id === userId} value={_user.id}>{_user.name}</option>
                    {/each}
                </Input>
            </FormGroup>
        {/await}
    </ModalBody>
    <ModalFooter>
        {#if !_isAdminMode}
            <ColoredButton color={$pollColor} disabled={isDisabled(userId)} on:click={() => onSelectuser(userId)}>Choisir</ColoredButton>
        {/if}
        <ColoredButton color={$pollColor} disabled={isDisabled(userId)} on:click={() => displayEditUser = true}>Modifier</ColoredButton>
        {#if _isAdminMode}
            <Confirm let:confirm="{confirmThis}">
                <ColoredButton color={$pollColor} disabled={isDisabled(userId)} on:click="{() => confirmThis(onDeleteUser)}">Supprimer</ColoredButton>
            </Confirm>
        {/if}
        <ColoredButton color={$pollColor} on:click={() => displayCreateUser = true}>Nouveau</ColoredButton>
        <ColoredButton outline disabled={selectMandatory} on:click={toggle}>{#if _isAdminMode}Fermer{:else}Annuler{/if}</ColoredButton>
    </ModalFooter>
</Modal>

<ModalUser
    userId={displayEditUser ? userId : undefined} 
    {size} 
    display={displayEditUser || displayCreateUser} 
    on:close={onModalUserClose} 
    on:updateUser={onUpdateUser} 
    on:createUser={onCreateUser}
/>
