<script lang="ts">
	import {
		Modal,
		ModalBody,
		ModalFooter,
		ModalHeader,
		Form,
		Label,
		Input,
		Col,
		Container,
		Row,

		Spinner

	} from "@sveltestrap/sveltestrap";
	import Instruments from '$lib/components/Instruments.svelte';
	import { createEventDispatcher } from 'svelte';
	import { UserOut } from '$lib/model/user_out';
	import { createUser, getInstruments, getUserWithInstruments, updateUser } from '$lib/shared/rest/rest';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import { poll, pollColor, sessionId } from '$lib/shared/stores/stores';
	import { REQUIRED_FIELD, USER_ALREADY_EXISTS } from '$lib/model/errors';

	const dispatch = createEventDispatcher();

	export let size: number;
	export let display: boolean;
	export let userId: number | undefined;

	let user: UserOut;

	let error_name = '';
	let error_main_instrument = '';

	async function start(userId: number | undefined) {
		user = userId != undefined ? (await getUserWithInstruments($poll, userId) ?? defaultUserOut()) : defaultUserOut();
		resetValidation();
	}

	function defaultUserOut(): UserOut {
		return new UserOut({
			"user": {
				"id": -1,
				"name": ''
			},
			"main_instrument": undefined,
			"instruments": []
		});
	}

	function resetValidation() {
		error_name = '';
		error_main_instrument = '';
	}

	function toggle(topic = 'close', params={}) {
		display = !display;
		dispatch(topic, params);
	}

	function check(_user: UserOut): boolean {
		resetValidation();
		if (_user.user.name.length == 0) {
			error_name = REQUIRED_FIELD;
		}
		if (_user.main_instrument == undefined) {
			error_main_instrument = REQUIRED_FIELD;
		}
		return error_name.length == 0 && error_main_instrument.length == 0;
	}

	async function onCreateUser(_user: UserOut) {
		if (check(_user)) {
			createUser($sessionId, $poll, _user)
				.then((user) => {
					const userId = user.id();
					toggle('createUser', {userId: userId});
				}
			).catch((err) => {
				if (err.message === USER_ALREADY_EXISTS) {
					error_name = USER_ALREADY_EXISTS;
				}
			})
		}
	}

	async function onUpdateUser(_user: UserOut) {
		if (check(_user)) {
			updateUser($sessionId, $poll, _user.id(), _user)
				.then((user) => {
					toggle('updateUser', {userId: _user.id()});
				}
			).catch((err) => {
				if (err.message === USER_ALREADY_EXISTS) {
					error_name = USER_ALREADY_EXISTS;
				}
			});
		}
	}
</script>

<Modal isOpen={display} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={() => toggle} on:closing={() => toggle} on:open={() => start(userId)}>
	{#if user == undefined}
		<Spinner type="border" size="" color="primary"/>
	{:else}
		<ModalHeader {toggle}>
			{#if userId == undefined}
				Créer Utilisateur
			{:else}
				Modifier Utilisateur {user.name()}
			{/if}
		</ModalHeader>
		<ModalBody>
			<Form>
				<Container class="padd">
					<Row class="padd">
						<Col>
							<Label for="nameId">Nom</Label>
						</Col>
						<Col>
							<Input
							id="nameId"
							bind:value={user.user.name}
							placeholder="Nom"
							feedback={error_name}
							invalid={error_name.length > 0}
							/>
						</Col>
					</Row>

					{#await getInstruments($poll, false)}
						<Spinner type="border" size="" color="primary"/>
					{:then instruments}
						<Row class="padd">
							<Col><Label>Instrument principal</Label></Col>
						</Row>
						<Row class="padd">
							<Col>
								<Instruments
									{instruments}
									{size}
									type="radio"
									invalid={error_main_instrument.length > 0}
									feedback={error_main_instrument}
									bind:group={user.main_instrument}
								/>
							</Col>
						</Row>

						<Row class="padd">
							<Col><Label>Instruments secondaires</Label></Col>
						</Row>
						<Row class="padd">
							<Col>
								<Instruments
									{instruments}
									{size}
									type="checkbox"
									bind:group={user.instruments}
								/>
							</Col>
						</Row> 
					{/await}

					
				</Container>
			</Form>
		</ModalBody>
		<ModalFooter>
			{#if userId == undefined}
				<ColoredButton color={$pollColor} on:click={() => onCreateUser(user)}>Créer</ColoredButton>
			{:else}
				<ColoredButton color={$pollColor} on:click={() => onUpdateUser(user)}>Modifier</ColoredButton>
			{/if}
			<ColoredButton outline on:click={() => toggle()}>Annuler</ColoredButton>
		</ModalFooter>
	{/if}
</Modal>
