<script lang="ts">
	import type { DatePayload } from "$lib/model/date_payload";
	import type { Instrument } from "$lib/model/instrument";


    export let date: DatePayload;
    export let filterPresences: (boolean | undefined)[];
    export let instrument: Instrument;
    export let presence: boolean | undefined;

    function isEnabled(list: (boolean | undefined)[], presence: boolean | undefined) {
		return list.indexOf(presence) > -1;
	}

</script>

{#if isEnabled(filterPresences, presence)}
    <td>
        {#each date.getUsersByPresenceAndInstrument(presence, instrument) as user}
            <div>{user.name}</div>
        {/each}
    </td>
{/if}
