<script lang="ts">
	import type { DatePayload } from "$lib/model/date_payload";
	import type { Instrument } from "$lib/model/instrument";
	import DetailsDateCell from "./DetailsDateCell.svelte";
	import { unique_id } from "$lib/shared/utils";
	import { PRESENCES } from "$lib/model/presence";
    import ModalSecondaryInstruments from "$lib/components/modals/details_date/ModalSecondaryInstruments.svelte";

    export let date: DatePayload;
    export let filterInstruments: Instrument[];
    export let filterPresences: (boolean | undefined)[];
    export let instrument: Instrument;

    let id: string = unique_id();
    let isOpen = false;

function isEnabledInstrument(list: Instrument[], instrument: Instrument): boolean {
    return list.length == 0 || list.indexOf(instrument) > -1
}

</script>

{#if isEnabledInstrument(filterInstruments, instrument)}
    <tr {id} on:click={() => isOpen = true}>
        <td>
            <div>{instrument.name}</div>
            <!-- svelte-ignore a11y-invalid-attribute -->
            <div><a href="javascript: void(0)" class="link">(voir secondaires)</a></div>
        </td>
        {#each PRESENCES as presence}
            <DetailsDateCell date={date} {filterPresences} instrument={instrument} presence={presence.value} />
        {/each}
    </tr>
    <ModalSecondaryInstruments {date} {instrument} {isOpen} on:close={() => isOpen = false}/>
{/if}
