<script lang="ts">
	import type { Instrument } from "$lib/model/instrument";
	import { PRESENCES } from "$lib/model/presence";
	import { Modal, ModalBody, ModalHeader, Table } from "@sveltestrap/sveltestrap";
	import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    export let date;
    export let instrument: Instrument;
    export let isOpen: boolean;

    function toggle() {
        isOpen = false;
        dispatch('close');
    }
    
</script>

<Modal {isOpen} body={true} {toggle} on:close={toggle} on:closing={toggle}>
    <ModalHeader {toggle}>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <div on:click={toggle}>
            Secondaires ({instrument.name})
        </div>
    </ModalHeader>
    <ModalBody>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <div on:click={toggle}>
            <Table>
                <thead>
                    <tr>
                        {#each PRESENCES as presence}
                            <th>{presence.label}</th>
                        {/each}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {#each PRESENCES as presence}
                            <td>
                                {#each date.getUsersSecondInstrument(presence.value, instrument) as _user}
                                <div>{_user.name}</div>
                                {/each}
                            </td>
                        {/each}
                    </tr>
                </tbody>
            </Table>
        </div>
    </ModalBody>
</Modal>