<script lang="ts">
	import {
		Modal,
		ModalBody,
		ModalFooter,
		ModalHeader,
		Container,
		Row,
		Col,
		Table,
		Spinner,
	} from "@sveltestrap/sveltestrap";
	import { createEventDispatcher } from 'svelte';
	import Instruments from '$lib/components/Instruments.svelte';
	import type { Instrument } from '$lib/model/instrument';
	import type { DatePayload } from '$lib/model/date_payload';
	import SelectButton from '../../SelectButton.svelte';
	import { getDateDetails, getInstruments } from '$lib/shared/rest/rest';
	import ColoredButton from '../../ColoredButton.svelte';
	import DetailsDateRow from './DetailsDateRow.svelte';
	import { PRESENCES } from '$lib/model/presence';
	import { poll, pollColor } from '$lib/shared/stores/stores';

	const dispatch = createEventDispatcher();

	export let size: number;
	export let dateId: number;

	let filterPresences: (boolean | undefined)[] = [true];
	let filterInstruments: Instrument[] = [];
	let isFiltersEnabled: boolean = false;

 	let date: Promise<DatePayload> = getDateDetails($poll, dateId);

	function toggle() {
		dispatch('close');
	}

	function resetFilters(event: any) {
		filterPresences = [true];
		filterInstruments = [];
	}

	function isEnabledPresence(list: (boolean | undefined)[], presence: boolean | undefined): boolean {
		return list.indexOf(presence) > -1;
	}

	
</script>

<Modal
	isOpen
	{toggle}
	fullscreen
	on:close={() => toggle}
	on:closing={() => toggle}
	on:open={() => (date = getDateDetails($poll, dateId))}
>
	{#await date}
		<Spinner type="border" size="" color="primary"/>
	{:then _date}
		<ModalHeader {toggle}
			><div>{_date.date.datetime()}</div>
			<div>{_date.date.padded_title()}</div></ModalHeader
		>
		<ModalBody>
			{#await getInstruments($poll, true)}
				<Spinner type="border" size="" color="primary"/>
			{:then instruments}

				<ColoredButton color={$pollColor} on:click={() => isFiltersEnabled = !isFiltersEnabled}>Filtres {isFiltersEnabled ? '↑' : '↓'}</ColoredButton>
				
				{#if isFiltersEnabled}
					<Container class="padd">
						<Row class="padd">
							<Col>
								{#each PRESENCES as presence}
									<SelectButton tooltip={presence.label} type="checkbox" value={presence.value} bind:group={filterPresences} outline={true} color={$pollColor}>
										<img src={presence.image} width={size} alt={presence.label} on:contextmenu|preventDefault />
									</SelectButton>
								{/each}
							</Col>
						</Row>
						<Row class="padd">
							<Col>
								<Instruments {instruments} {size} type="checkbox" bind:group={filterInstruments} />
							</Col>
						</Row>
						<Row class="padd">
							<Col xs="auto">
								<ColoredButton color={$pollColor} on:click={resetFilters}>Réinitialiser filtres</ColoredButton>
							</Col>
						</Row>
					</Container>
				{/if}

				<Table striped responsive>
					<thead>
						<tr>
							<th>Instrument</th>	
							{#each PRESENCES as presence}
								{#if isEnabledPresence(filterPresences, presence.value)}<th>{presence.label} {_date.getTitleCount(presence.value, filterInstruments, instruments)}</th>{/if}	
							{/each}
						</tr>
					</thead>
					<tbody>
						{#each instruments as _instru}
							<DetailsDateRow date={_date} {filterInstruments} {filterPresences} instrument={_instru} />
						{/each}
					</tbody>
				</Table>
			{/await}		  
		</ModalBody>
	{/await}
	<ModalFooter>
		<ColoredButton outline on:click={toggle}>Fermer</ColoredButton>
	</ModalFooter>
</Modal>