<script lang="ts">
	import { Modal, ModalBody, ModalFooter, ModalHeader, Label, Input, Spinner, Container, Row, Col, Alert } from "@sveltestrap/sveltestrap";
    import { createEventDispatcher } from 'svelte';
	import { getOptions, updateOptions } from '$lib/shared/rest/rest';
    import type { Option } from '$lib/model/option';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import { poll, pollColor, sessionId } from '$lib/shared/stores/stores';

	const dispatch = createEventDispatcher();
	
    let options: Option;

    let isModified: boolean = false;

    function toggle() {
        dispatch('close', {isModified: isModified});
    }

    async function start() {
        isModified = false;
        options = await getOptions($poll);
    }

	async function onUpdateOptions(options: Option) {
        isModified = true;
		await updateOptions($sessionId, $poll, options.name, options.color);
        toggle();
	}
</script> 

<Modal
    isOpen
	{toggle}
    centered
	on:close={toggle}
	on:closing={toggle}
	on:open={start}
>
    <ModalHeader {toggle}>Configurer Options</ModalHeader>
    <ModalBody>
        {#if options == undefined}
		    <Spinner type="border" size="" color="primary"/>
        {:else}
            <Alert color="danger" heading="Attention">Ces paramètres influencent tous les utilisateurs.</Alert>
            <Container class="padd">
                <Row class="padd">
                    <Col><Label for="nameInput">Nom</Label></Col>
                    <Col><Input placeholder="nom" bind:value={options.name} /></Col>
                </Row>
                
                <Row class="padd">
                    <Col><Label for="colorInput">Couleur</Label></Col>
                    <Col><Input type="color" id="colorInput" placeholder="couleur" bind:value={options.color} /></Col>
                </Row>
            </Container>
        {/if}
    </ModalBody>
    <ModalFooter>
        <ColoredButton color={$pollColor} on:click={() => onUpdateOptions(options)}>Valider</ColoredButton>
        <ColoredButton outline on:click={toggle}>Annuler</ColoredButton>
    </ModalFooter>
</Modal>