<script lang="ts">
	import { Modal, ModalBody, ModalFooter, ModalHeader, FormGroup, Label, Input, Spinner, Container, Row, Col } from "@sveltestrap/sveltestrap";
    import { createEventDispatcher } from 'svelte';
	import type { DDate } from '$lib/model/ddate';
	import { getAnswer, getDates, getUsers } from '$lib/shared/rest/rest';
	import AnswerIcon from '../../AnswerIcon.svelte';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import type { User } from '$lib/model/user';
	import { poll } from '$lib/shared/stores/stores';

	const dispatch = createEventDispatcher();
	
    export let size: number;
    export let display: boolean;

    let dates: Promise<DDate[]> = getDates($poll);
    let users: Promise<User[]> = getUsers($poll);

    let dateId: number = -1;
    let userId: number = -1;

    let isModified: boolean = false;
    

    function toggle() {
        display = false;
        dispatch('close', {isModified: isModified});
    }
</script> 

<Modal isOpen={display} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={toggle} on:closing={toggle} on:open={() => {dates = getDates($poll); isModified=false}}>
    <ModalHeader {toggle}>Configurer Réponses</ModalHeader>
    <ModalBody>
        {#await users}
            <Spinner type="border" size="" color="primary"/>
        {:then _users}
            {#await dates}
                <Spinner type="border" size="" color="primary"/>
            {:then _dates}
                <FormGroup>
                    <Container class="padd">
                        <Row class="padd">
                            <Col><Label for="userId">Utilisateur</Label></Col>
                            <Col>
                                <Input type="select" name="userName" id="userId" bind:value={userId}>
                                    {#each _users as _user}
                                        <option selected={_user.id === userId} value={_user.id}>{_user.name}</option>
                                    {/each}
                                </Input>
                            </Col>
                        </Row>

                        <Row class="padd">
                            <Col><Label for="dateId">Date</Label></Col>
                            <Col>
                                <Input type="select" name="dateName" id="dateId" bind:value={dateId}>
                                    {#each _dates as _date}
                                        {#if !_date.is_old}
                                            <option selected={_date.id === dateId} value={_date.id}>{_date.padded_str()}</option>
                                        {/if}
                                    {/each}
                                </Input>
                            </Col>
                        </Row>

                        <Row class="padd">
                            <Col>Réponse</Col>
                            <Col>
                                {#if userId > -1 && dateId > -1}
                                    {#await getAnswer($poll, userId, dateId)}
                                        <Spinner type="border" size="" color="primary"/>
                                    {:then answer}
                                        <AnswerIcon {answer} {size} userId={userId} dateId={dateId} canReset={true} on:isModified={() => isModified = true}/>
                                    {/await}
                                {/if}
                            </Col>
                        </Row>
                    </Container>
                </FormGroup>            
            {/await}
        {/await}
    </ModalBody>
    <ModalFooter>
        <ColoredButton outline on:click={toggle}>Fermer</ColoredButton>
    </ModalFooter>
</Modal>