<script lang="ts">
	import { poll, pollName, pollColor } from "$lib/shared/stores/stores";
    import { Mailbox2, Gitlab, EmojiSmile } from "svelte-bootstrap-icons";
	import { Col, Container, Row } from "@sveltestrap/sveltestrap";
	import Layout from "$lib/components/Header.svelte";

    $poll = '';
    $pollName = 'À propos';
	$pollColor = '#0d6efd';

</script>

<Layout />
<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Popoll</h2>
                <p>Le but de ce site est de permettre aux Batucadas de gérer plus facilement les présences/absences aux différentes prestations.</p>
                <p>L'utilisation en est libre et bienvenue. Sachez toutefois que le serveur est stocké chez un particulier sans sauvegarde de qualité professionnelle, et le support n'a rien d'officiel (à part bien sur ma bonne volonté <EmojiSmile /> ).</p>
                <p>Le site est capable de retrouver l'utilisateur sélectionné pour chaque navigateur.</p>
            </Col>
        </Row>
    </Container>
</div>

<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Pourquoi le nom Popoll ?</h2>
                <p>Tout simplement car <span class="highlight">poll</span> en anglais signifie vote/sondage. Ensuite, il suffisait de doubler la syllabe. Aussi bête que cela.</p>
            </Col>
        </Row>
    </Container>
</div>

<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Contact</h2>
                <p><Mailbox2 />&nbsp;<a href="mailto:contact@popoll.villard.me">contact@popoll.villard.me</a></p>
                <p>Ne pas hésiter à envoyer tout problème repéré.</p>
                <p>Ne pas hésiter à envoyer toute idée pouvant améliorer l'outil.</p>
            </Col>
        </Row>
    </Container>
</div>

<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Remerciements</h2>
                <ul>
                    <li>Merci à Jeanne pour les icônes des instruments</li>
                    <li>Merci à <a href="http://www.sambati.org/">Sambati</a> pour les essais et la confiance</li>
                </ul>
            </Col>
        </Row>
    </Container>
</div>


<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Informations stockées</h2>
                <p>Aucune utilisation publicitaire (ou analytic) n'est prévue pour ce site.</p>
                <p>Une information est stockée dans votre navigateur : un sessionId, qui sert à identifier de manière unique le navigateur, pour pouvoir réafficher directement l'utilisateur choisi</p>
                <p>Sur le serveur, sont stockés
                    <ul>
                        <li>les associations sessionId--user pour pouvoir les retourner aux navigateurs,</li>
                        <li>les associations sessionId--action, pour les actions entraînant une modification de la base de données (création, modification, suppression)</li>
                    </ul>
                <p></p>
            </Col>
        </Row>
    </Container>
</div>


<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Code Source</h2>
                <a href="https://gitlab.com/popoll"><Gitlab />&nbsp;GitLab repositories</a>
            </Col>
        </Row>
    </Container>
</div>

<div class="section">
    <Container>
        <Row>
            <Col>
                <h2>Mentions légales</h2>
                <p>Le site est actuellement hébergé sur un serveur privé.</p>
                <p>Nicolas Villard-Parriault - 76 avenue Cyrille Besset - 06100 Nice - France</p>
                <p>+33 6 24 85 52 83</p>
            </Col>
        </Row>
    </Container>
</div>



<style>

    .section {
        padding: 1em;
    }
</style>