<script lang="ts">
	import type { _DateAnswerPayload } from "$lib/model/date_payload";
	import { Answer } from "$lib/model/answer";
	import { CheckLg, QuestionLg, Stopwatch, XLg, BugFill } from "svelte-bootstrap-icons";
	import { Spinner } from "@sveltestrap/sveltestrap";
	import { createAnswer, deleteAnswer, updateAnswer } from "$lib/shared/rest/rest";
	import { createEventDispatcher } from "svelte";
	import { poll, pollColor, sessionId } from "$lib/shared/stores/stores";
	import ColoredButton from "./ColoredButton.svelte";

    const dispatch = createEventDispatcher();

    export let answer: Answer | undefined;
    export let size: number;
    export let userId: number | undefined;
    export let dateId: number | undefined;
    export let canReset: boolean = false;
    export let disabled: boolean = false;

    async function goToYes(_answer: Answer, create: boolean = false) {
        if (answer != undefined) {
            answer.response = undefined;
        }
        if (create) {
            if (userId != undefined && dateId != undefined) {
                answer = await createAnswer($sessionId, $poll, userId, dateId);
            }
        } else {
            answer = await updateAnswer($sessionId, $poll, _answer.id, true);
        }
    }

    async function goToNo(_answer: Answer) {
        if (answer != undefined) {
            answer.response = undefined;
        }
        answer = await updateAnswer($sessionId, $poll, _answer.id, false);
    }

    async function goToUndefined(_answer: Answer) {
        if (answer != undefined) {
            answer.response = undefined;
        }
        await deleteAnswer($sessionId, $poll, _answer.id);
        answer = undefined;
    }

    async function onUpdateAnswer(poll: string) {
        if (answer != undefined) {
            switch(answer.response) {
                case true:
                    goToNo(answer);
                    break;
                case false:
                    if (canReset) {
                        goToUndefined(answer);
                    } else {
                        goToYes(answer, false);
                    }
                    break;
                case undefined:
                default:
                    goToYes(answer, true);
                    break;
            }
            dispatch('isModified');
        } else {
            console.error('AnswerIcon.onUpdateAnswer() with undefined answer. This should not happen.');
        }
    }

    async function onCreateAnswer(poll: string, _userId: number | undefined, _dateId: number | undefined) {
        answer = new Answer({});
        goToYes(answer, true);
	}

</script>

{#await answer}
    <Spinner type="border" size="" color="primary"/>
{:then _answer}
    {#if _answer == undefined || _answer.user_id == undefined}
        <ColoredButton outline color={$pollColor} on:click={(_) => onCreateAnswer($poll, userId, dateId)} {disabled}>
            <QuestionLg width={size} height={size} fill="grey" />
        </ColoredButton>
    {:else if _answer.response == undefined}
        <ColoredButton outline color={$pollColor} on:click={(_) => onUpdateAnswer($poll)} disabled>
            <Stopwatch width={size} height={size} fill="grey" />
        </ColoredButton>
    {:else if _answer.response == true}
            <ColoredButton outline color={$pollColor} on:click={(_) => onUpdateAnswer($poll)} {disabled}>
                <CheckLg width={size} height={size} fill="green" />
            </ColoredButton>
    {:else if _answer.response == false}
        <ColoredButton outline color={$pollColor} on:click={(_) => onUpdateAnswer($poll)} {disabled}>
            <XLg width={size} height={size} fill="red" />
        </ColoredButton>
    {:else}
        <ColoredButton outline color={$pollColor} disabled>
            <BugFill width={size} height={size} fill="red" />
        </ColoredButton>
    {/if}
{/await}
