<script lang="ts">
	import { unique_id } from '$lib/shared/utils';
    import { createEventDispatcher } from 'svelte';
	import { Tooltip } from "@sveltestrap/sveltestrap";

    const dispatch = createEventDispatcher();

    export let tooltip: string | undefined = undefined;
    export let color: string = '#5c636a';
    export let outline: boolean = false;
    export let disabled: boolean = false;
    export let value: any = undefined;
    export let active: boolean = false;
    export let state: boolean = false;

    let id: string = unique_id();

    function onClick(event: any) {
        if (state) {
            active = !active;
        }
        dispatch('click', event);
    }

    function onDoubleClick(event: any) {
        if (state) {
            active = !active;
        }
        dispatch('doubleClick', event);
    }


    function getClass(outline: boolean, active: boolean) {
        return ['bbtn', !outline || active ? 'bbtn-plain' : 'bbtn-outline' ].join(' ');
    }

</script>
<button {id} {value} class={getClass(outline, active)} style="--color: {color}" {disabled} on:click={onClick} on:dblclick={onDoubleClick} on:contextmenu|preventDefault><slot /></button>
{#if tooltip != undefined}
    <Tooltip target={id} placement="bottom">{tooltip}</Tooltip>
{/if}
<style>

    .bbtn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-bg: transparent;
        --bs-btn-border-width: var(--bs-border-width);
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: var(--bs-border-radius);
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }

    .bbtn:disabled, .bbtn[disabled] {
        color: #fff;
        pointer-events: none;
        background-color: #6c757d;
        border-color: #6c757d;
        opacity: 0.65;
    }

    .bbtn-plain {
        --bs-btn-color: #fff;
        --bs-btn-bg: var(--color);
        --bs-btn-border-color: var(--color);
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--color);
        --bs-btn-hover-border-color: var(--color);
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--color);
        --bs-btn-active-border-color: var(--color);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: var(--color);
        --bs-btn-disabled-border-color: var(--color);
    }

    .bbtn-outline {
        --bs-btn-color: var(--color);
        --bs-btn-border-color: var(--color);
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--color);
        --bs-btn-hover-border-color: var(--color);
        --bs-btn-focus-shadow-rgb: 13, 110, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: var(--color);
        --bs-btn-active-border-color: var(--color);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: var(--color);
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: var(--color);
        --bs-gradient: non;
    }

</style>