<script lang="ts">
	import { getPolls } from '$lib/shared/rest/rest';
	import { pollName, polls, sessionId } from '$lib/shared/stores/stores';

	import {
		Col,
		Container,
		Dropdown,
		DropdownItem,
		DropdownMenu,
		DropdownToggle,
		Row
	} from '@sveltestrap/sveltestrap';
	import { List, ShieldLockFill } from 'svelte-bootstrap-icons';

	
	getPolls($sessionId).then((polls) => $polls = polls);
</script>

<div class="title">
	<Container>
		<Row>
			<Col xs="auto">
				<Dropdown direction="down" class="pointer">
					<DropdownToggle tag="div" class="d-inline-block"
						><List fill="white" width="32" height="32" /></DropdownToggle
					>
					<DropdownMenu>
						<DropdownItem href="/">Créer nouveau Popoll</DropdownItem>
						<DropdownItem divider />
						{#each $polls as poll}
							<DropdownItem href="/{poll.id}">{poll.name}</DropdownItem>
						{/each}
						<DropdownItem divider />
						<DropdownItem href="/about">À propos</DropdownItem>
					</DropdownMenu>
				</Dropdown>
			</Col>

			<Col>
				<h1>{$pollName}</h1>
			</Col>

			<Col xs="auto">
				<slot>
					<!-- We keept his default to align titles in all pages -->
					<Dropdown direction="down" class="hidden">
						<DropdownToggle color="danger" caret><ShieldLockFill />&nbsp;Admin</DropdownToggle>
					</Dropdown>
				</slot>
			</Col>
		</Row>
	</Container>
</div>

<style>
	:global(.title) {
		background-color: var(--poll_color);
		color: white;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		width: 100%;
		font-size: 1em;
	}

	:global(.hidden) {
		opacity: 0;
        cursor: default;
	}
</style>
