<script lang="ts">
	import marcation from '$lib/images/instruments/marca.png';
	import reponse from '$lib/images/instruments/reponse.png';
	import corta from '$lib/images/instruments/corta.png';
	import caixa from '$lib/images/instruments/caixa.png';
	import repinique from '$lib/images/instruments/repinique.png';
	import chocalho from '$lib/images/instruments/chocalho.png';
	import tamborim from '$lib/images/instruments/tamborim.png';
	import agogo from '$lib/images/instruments/agogo.png';
	import timbal from '$lib/images/instruments/timbal.png';
	import { _UserDatePayload } from '$lib/model/user_payload';
	import SelectButton from './SelectButton.svelte';
	import { uuid } from '$lib/shared/utils';
	import type { Instrument } from '$lib/model/instrument';
	import { pollColor } from '$lib/shared/stores/stores';

	export let instruments: Instrument[];
	export let size: number;
	export let type: string;
	export let group: any = undefined;
	export let invalid: boolean = false;
	export let feedback: string = '';

	/**
	 * We generate an uuid in order to generate different ids if Instruments is called many times (in ModalUser for 
	 * example). Otherwise, Tooltip won't work properly because of duplicated ids in the same DOM tree.
	 */
	let uid: string = uuid();

	const MAPPING: { [key: number]: string } = {
		1: tamborim,
		2: agogo,
		3: chocalho,
		4: repinique,
		5: caixa,
		6: marcation,
		7: reponse,
		8: corta,
		9: timbal
	};
</script>

<div class={invalid ? 'form-control is-invalid' : ''}>
	{#each instruments as _instrument}
		<SelectButton tooltip={_instrument.name} {type} value={_instrument} bind:group outline color={$pollColor}>
			<img
				src={MAPPING[_instrument.id]}
				width={size}
				alt={_instrument.name}
				id="btn_{uid}_{_instrument.id}"
				on:contextmenu|preventDefault
			/>
		</SelectButton>
	{/each}
</div>
{#if invalid}
	<div class="invalid-feedback">{feedback}</div>
{/if}

