<script lang="ts">
	import { uuid } from "$lib/shared/utils";
	import ColoredButton from "./ColoredButton.svelte";

    export let type: string;
    export let value: any;
    export let color: string;
    export let disabled: boolean = false;
    export let outline: boolean = false;
    export let tooltip: string | undefined = undefined;

    export let group: any;
    $: _group = group;

    function indexOf(array: any[], value: any): number {
        return array.map((item) => JSON.stringify(item)).indexOf(JSON.stringify(value));
    }

    function toggle() {
        if (type == "radio") {
            group = value;
        } else {
            if (group != undefined) {
                const index = indexOf(_group, value);
                if (index > -1) {
                    group.splice(index, 1);
                } else {
                    group.push(value);
                }
                group = group;
            }
        }
        _group = group;
    }

    function isActive(_group: any, value: any): boolean {
        if (_group == undefined) {
            return false;
        }
        if (type == "radio") {
            return JSON.stringify(_group) === JSON.stringify(value);
        } else {
            return indexOf(_group, value) > -1;
        }
    }

    function onDoubleClick(event: any) {
        if (type == "radio") {
            group = value;
        } else {
            if (group != undefined) {
                group = [value];
            }
        }
        _group = group;
    }
</script>

<ColoredButton {tooltip} state {value} active={isActive(_group, value)} {color} {outline} {disabled} on:click={() => toggle()} on:doubleClick={onDoubleClick}>
    <slot />
</ColoredButton>
