<script lang="ts">
	import type { DDate } from '$lib/model/ddate';
	import type { _UserDatePayload } from '$lib/model/user_payload';
	import { Table } from "@sveltestrap/sveltestrap";
	import ModalDetailsDate from './modals/details_date/ModalDetailsDate.svelte';
	import AnswerIcon from '$lib/components/AnswerIcon.svelte';
	import ColoredButton from './ColoredButton.svelte';
	import { pollColor } from '$lib/shared/stores/stores';
	import type { UserDetails } from '$lib/model/user_details';
	import { pushState, replaceState } from '$app/navigation';
	import { page } from '$app/stores';

	export let userDetails: UserDetails;
	export let size: number;

	let viewOldDates: boolean = false;

</script>

<Table striped responsive>
	<thead>
		<tr>
			<th>Date</th>
			<th class="right">Réponse</th>
		</tr>
	</thead>
	<tbody>
		{#each userDetails.dates as _date}
			{#if viewOldDates || !_date.date.is_old}
				<tr>
					<!-- svelte-ignore a11y-click-events-have-key-events -->
					<td on:click={() => pushState('', {modalDateDetailsDateId: _date.date.id})} class={_date.date.is_old ? 'old pointer fullWidth' : 'pointer fullWidth'}>
						<div><span class="highlight">{_date.date.datetime()}</span></div>
						<div>
							{_date.date.title}
							<!-- svelte-ignore a11y-invalid-attribute -->
							<a href="javascript: void(0)" class="link">(voir réponses)</a>
						</div>
					</td>
					<td class="right center">
						<AnswerIcon answer={_date.answer} {size} userId={userDetails.user.id} dateId={_date.date.id} disabled={_date.date.is_frozen || _date.date.is_old} />
					</td>
				</tr>
			{/if}
		{/each}
	</tbody>
</Table>
<ColoredButton color={$pollColor} on:click={() => viewOldDates = !viewOldDates}>Dates passées ({viewOldDates ? 'masquer' : 'montrer'})</ColoredButton>

{#if $page.state.modalDateDetailsDateId != undefined}
	<ModalDetailsDate
		{size}
		dateId={$page.state.modalDateDetailsDateId}
		on:close={() => (replaceState('', {}))}
	/>
{/if}

<style>
	.right {
		text-align: right;
	}

	.center {
		display: table-cell;
		vertical-align: middle;
	}

	.old {
		color: darkgray;
	}

	.fullWidth {
		width: 100%;
	}
</style>
