<script lang="ts">
	import { Modal, ModalBody, ModalFooter, ModalHeader, FormGroup, Label, Input, Spinner } from "@sveltestrap/sveltestrap";
    import { createEventDispatcher } from 'svelte';
	import type { DDate } from '$lib/model/ddate';
    import Confirm from '$lib/components/modals/Confirm.svelte';
	import ModalDate from './ModalDate.svelte';
	import { deleteDate, getDates } from '$lib/shared/rest/rest';
	import ColoredButton from '$lib/components/ColoredButton.svelte';
	import { poll, pollColor, sessionId } from '$lib/shared/stores/stores';

	const dispatch = createEventDispatcher();
	
    export let display: boolean;
    let dateId: number | undefined = undefined;

    let dates: Promise<DDate[]> = Promise.resolve([]);
    let displayCreateDate: boolean = false;
    let displayEditDate: boolean = false;

    let isModified: boolean = false;

    function toggle() {
        display = false;
        dispatch('close', {isModified: isModified});
    }

    async function doDeleteDate(poll: string) {
        isModified = true;
        if (dateId != undefined) {
            await deleteDate($sessionId, poll, dateId);
            dates = getDates(poll);
        } else {
            console.error('ModalUsers.doDeleteDate() with undefined date. This should never happens.');
        }
    }

    function onUpdateDate(event: any) {
        isModified = true;
        dates = getDates($poll);
        onCloseModalDate();
    }

    function onCreateDate(event: any) {
        isModified = true;
        dates = getDates($poll);
        onCloseModalDate();
    }

    function onCloseModalDate() {
        displayCreateDate = false;
        displayEditDate = false;
    }

    function isDisabled(dateId: any) {
        return dateId == undefined || dateId === '';
    }
</script> 

<Modal isOpen={display} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={toggle} on:closing={toggle} on:open={() => {dates = getDates($poll); isModified = false}}>
    <ModalHeader {toggle}>Configurer Dates</ModalHeader>
    <ModalBody>
        {#await dates}
            <Spinner type="border" size="" color="primary"/>
        {:then _dates}
            <FormGroup>
                <Label for="dateId">Date</Label>
                <Input type="select" name="dateName" id="dateId" bind:value={dateId}>
                    {#each _dates as _date}
                        <option selected={_date.id === dateId} value={_date.id}>{_date.padded_str()}</option>
                    {/each}
                </Input>
            </FormGroup>
        {/await}
    </ModalBody>
    <ModalFooter>
        <ColoredButton color={$pollColor} disabled={isDisabled(dateId)} on:click={() => displayEditDate = true}>Modifier</ColoredButton>
        <Confirm let:confirm="{confirmThis}">
            <ColoredButton color={$pollColor} disabled={isDisabled(dateId)} on:click="{() => confirmThis(doDeleteDate, $poll)}">Supprimer</ColoredButton>
        </Confirm>
        <ColoredButton color={$pollColor} on:click={() => displayCreateDate = true}>Nouveau</ColoredButton>
        <ColoredButton outline on:click={toggle}>Fermer</ColoredButton>
    </ModalFooter>
</Modal>

<ModalDate 
    dateId={displayEditDate ? dateId : undefined} 
    display={displayEditDate || displayCreateDate} 
    on:createDate={onCreateDate} 
    on:updateDate={onUpdateDate} 
    on:close={onCloseModalDate} 
/>