<script lang="ts">
	import ColoredButton from "$lib/components/ColoredButton.svelte";
	import { DDate } from "$lib/model/ddate";
	import { REQUIRED_FIELD } from "$lib/model/errors";
	import { createDate, getDDate, updateDate } from "$lib/shared/rest/rest";
	import { poll, pollColor, sessionId } from "$lib/shared/stores/stores";
	import { createEventDispatcher } from "svelte";
	import { Col, Container, FormGroup, Input, Label, Modal, ModalBody, ModalFooter, ModalHeader, Row, Spinner } from "@sveltestrap/sveltestrap";

    const dispatch = createEventDispatcher();

    export let display: boolean;
    export let dateId: number | undefined;

    let date: DDate;

    let error_title = '';
	let error_date = '';

    async function start(dateId: number | undefined) {
		date = dateId != undefined ? await getDDate($poll, dateId) : defaultDDate();
	}

    function defaultDDate(): DDate {
		return new DDate({
			"id": -1,
            "title": "",
            "date": "",
            "time": undefined,
            "end_time": undefined,
            "is_frozen": false
            });
	}

    function resetValidation() {
		error_title = '';
		error_date = '';
	}

    function check(date: DDate): boolean {
		resetValidation();
		if (date.title.length == 0) {
			error_title = REQUIRED_FIELD;
		}
		if (date.date.length == 0) {
			error_date = REQUIRED_FIELD;
		}
		return !error_title && !error_date;
	}

    function toggle() {
        _close('close');
    }

    function _close(topic: string = 'close', params: any = {}) {
        display = false;
        dispatch(topic, params);
    }

    async function onCreateDate(_date: DDate) {
        if (check(date)) {
            const dateResponse = createDate($sessionId, $poll, _date);
            const dateId: number = (await dateResponse).id;
            _close('createDate', {dateId: dateId});
        }
    }

    async function onUpdateDate(_date: DDate) {
        if (check(date)) {
            await updateDate($sessionId, $poll, _date.id, _date);
            _close('updateDate', {dateId: _date.id});
        }
    }

</script>

<Modal isOpen={display} autoFocus backdrop body={true} centered={true} fade unmountOnClose {toggle} on:close={() => toggle} on:closing={() => toggle} on:open={() => start(dateId)}>
    {#if date == undefined}
		<Spinner type="border" size="" color="primary"/>
	{:else}
        <ModalHeader {toggle}>
            {#if dateId == undefined}
            Nouvelle date
            {:else}
            Modifier date {date.padded_str()}
            {/if}
        </ModalHeader>
        <ModalBody>
            <FormGroup>
                <Container class="padd">
                    <Row class="padd">
                        <Col><Label for="dateInput">Date</Label></Col>
                        <Col><Input type="date" id="dateInput" bind:value={date.date} feedback="Champ obligatoire" invalid={error_date.length > 0} /></Col>
                    </Row>
                    <Row class="padd">
                        <Col><Label for="timeInput">Heure de début</Label></Col>
                        <Col><Input type="time" id="timeInput" bind:value={date.time} /></Col>
                    </Row>
                    <Row class="padd">
                        <Col><Label for="endTimeInput">Heure de fin</Label></Col>
                        <Col><Input type="time" id="endTimeInput" bind:value={date.end_time} /></Col>
                    </Row>
                    <Row class="padd">
                        <Col><Label for="titleInput">Description</Label></Col>
                        <Col><Input type="textarea" id="titleInput" bind:value={date.title} feedback="Champ obligatoire" invalid={error_title.length > 0} /></Col>
                    </Row>
                    {#if dateId != undefined}
                        <Row class="padd">
                            <Col><Label for="frozenInput">Verrouillé</Label></Col>
                            <Col><Input type="checkbox" id="frozenInput" bind:checked={date.is_frozen} /></Col>
                        </Row>
                    {/if}
                </Container>
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            {#if dateId == undefined}
                <ColoredButton color={$pollColor} on:click={() => onCreateDate(date)}>Créer</ColoredButton>
            {:else}
                <ColoredButton color={$pollColor} on:click={() => onUpdateDate(date)}>Modifier</ColoredButton>
            {/if}
            <ColoredButton outline on:click={toggle}>Annuler</ColoredButton>
        </ModalFooter>
    {/if}
</Modal>
